/* 
font size system(px)
10 12 14 16 18 20 24 30 36 44 52 62 74 86 98 

spacing system(px)
2 4 8 12 16 24 32 48 64 80 96 128
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@500&family=Roboto&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 10px;
}

body{
  font-family: 'Inter', sans-serif;
  padding-left: 4.4rem;
  padding-right: 4.4rem;
  background-color: #F4F3F8;
}

nav{
  display: flex;
  justify-content: space-between;
  color: #333333;
  padding-top: 3rem;
  margin-bottom: 2.4rem;
}

.nav-icon{
  color: #1fdf82;
  font-size: 4rem;
  padding: 1.6rem;
}

.nav-items{
  padding: 1rem;
  font-weight: bold;
}

.nav-item{
  display: inline-block;
  font-size: 1.6rem;
  padding: 1rem;
}

.nav-item a{
  text-decoration: none;
  color: #333333;
}

.nav-item a:hover{
  color: #2aa37d;
}

.Hero{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 6.4rem;
}

.Hero-content{
  padding: 1.6rem;
}

.Hero-content p{
  font-size: 1.6rem;
  padding-bottom: 0.8rem;
}

.emphasis{
  display: inline-block;
  color: #21e22190;
}

.Hero-content h1{
  font-size: 4.4rem;
  line-height: 4.5rem;
  padding-bottom: 2.4rem;
  text-transform: uppercase;
}

.Hero-content button{
  background-color:#37dc79;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    margin-top: 2.4rem;
    margin-bottom: 4.4rem;
    cursor: pointer;
}

.Hero-content button:hover{
  background-color: #17b161e3;
  color: #333333;
}

.Hero-image-container{
  padding: 1rem;
}

.Hero-image{
  width: 64rem;
  height: auto;
}

.Hero-subcontent{
  padding: 1.6rem;
}

.Hero-subcontent h2{
  padding-bottom: 2.4rem;
}

.Hero-subcontent-flex{
  display: flex;
 gap: 2.4rem;
}

.Hero-subcontent .icon{
  padding-bottom: 1.6rem;
}

.Hero-subcontent p{
  font-size: 1.6rem;
  font-weight: 400;
}

/* Call-to-action */
.call-to-action{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 6.4rem;
}

.heading{
  font-size: 3.6rem;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
}

.para{
  font-size: 1.4rem;
    line-height: 1.6rem;
    width: 52rem;
    text-align: center;
}

.card-container{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2.4rem;
}
/* Card css */

.card{
  width: 52rem;
  height: auto;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.card-image{
  width: 100%;
  height: 100%;
  border-radius: 1.6rem;
}

.card-body{
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #1f3d4738;
  backdrop-filter: blur(2px);
  border-radius: 15px;
  color: #fff;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: 1s;
}

.card-body h1{
font-size: 2rem;
font-weight: 500;
text-transform: capitalize;
color: white;
margin-bottom: 2rem;
}

.card-body .button{
  width: 12rem;
  color: black;
  background-color: #ffffffb9;
  border:none;
  font-size: 1.6rem;
  text-transform: capitalize;
  padding: 1rem 2rem;
  border-radius: 1rem;
  transition: 0.8ms;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.card-body .button:hover{
background-color: #13dc59;
color: white;
}

.card:hover .card-body{
  right: 0;
}

/* Investor testimonials */

.investor-testimonial{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  padding: 4rem;
}

/* Investor testimonial body */

.testimonial-body{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;
}

.small-card{
  height:35rem;
  width: auto;
  border: 2px solid white;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.small-card-image{
height: 100%;
width: 100%;
border-radius: 5px;
}

.small-card-body{
  height: 70%;
  width: 100%;
 background-color: #c56a29ad;
 backdrop-filter: blur(2px);
 color: white;
 border: 2px solid white;
 position: absolute;
 top: 100%;
 padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: end;
  transition: 1s ease-in-out;
  visibility: hidden;
}

.small-card-body h1{
  font-size: 2rem;
}
.small-card-body .subtitle{
font-size: 1.4rem;
}

.small-card-body p{
  font-size: 1.2rem;
}

.small-card-body .btn{
  text-decoration: none;
  color: #0052FF;
  background-color: white;
  padding: 1em 2em;
  font-size: 1rem;
}

.small-card-body .btn:hover{
  color: #fff;
  background-color:#333333;
}

.small-card:hover .small-card-body{
  top: 30%;
  visibility: visible;
}

.lg-btn{
  text-decoration: none;
  color: #056d05;
  border: 2px solid #008e00;
  padding: 1.2em 3em;
  font-size: 1.2rem;
  border-radius: 5px;
}

.lg-btn:hover{
color: white;
background-color: #099509;
}

/* STARTUP TESTIMONIALS */

.startup-testimonial{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  padding: 4rem;
}

.startup-testimonial-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;
}
.startup-testimonial-body .still-card{
  height: 35rem;
  width: 25rem;
  border: 2px solid white;
  border-radius: 5px;
  background-color: #73c7dad2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.startup-testimonial-body .still-card img{
  width: 18rem;
  height: auto;
  border: 1px solid black;
  border-radius: 50%;
}

.startup-testimonial-body .still-card-body{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
}

.startup-testimonial-body .still-card-body h1{
  font-size: 3rem;
}

.startup-testimonial-body .still-card-body p{
  font-size: 1.2rem;
}

.startup-testimonial-body .still-card-body ul{
  list-style: none;
  text-align: left;
  font-size: 1rem;
}

.startup-testimonial-body .still-card-body .btn{
  text-decoration: none;
  color: #5980d6;
  background-color: white;
  padding: 1em 2em;
  font-size: 1rem;
  text-align: center;
}

.startup-testimonial-body .still-card-body .btn:hover{
  color: #fff;
  background-color: #333333;
}

/* Footer section */

footer{
  padding: 4rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  color: #333333;
  margin-top: 2rem;
}

.footer-icon{
  color: #00ff00;
  font-size: 2rem;
  display: flex;
}

.First-content{
  list-style: none;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.socialmedia-icons img{
  margin-right: 1rem;
}

.Second-content{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Second-content :nth-child(1){
font-size: 1.6rem;
font-weight: bold;
}

.Third-content{
  display: flex;
  list-style:none;
  flex-direction: column;
  justify-content: space-between;
}

.Third-content .info{
  display: flex;
  gap: 1rem;
}

.end-section {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #00ff84;
  padding: 2rem;
  width: 100vw; /* or width: 100% */
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
  .socialmedia-icons {
      flex-direction: column;
      align-items: center;
  }

  .socialmedia-icons img {
      width: 25px;
      height: 25px;
  }
}